/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

h2 {
    background-color: azure;
    color: #555555;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set blue background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: rgba(0,0,255,0.7);
    color: white;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

a {
    color: teal;
}

a#featured {
    color: teal;
}

a#featured2 {
    color: teal;
}

a#featured3 {
    color: teal;
}

a#featured4 {
    color: teal;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

/* darker background for carousel captions */

.carousel-caption {
    background-color: rgba(0,0,0,0.75);
}

.btn#silver {
    background-color: silver;
    color: white;
}

.btn#orange {
    background-color: orange;
}

.btn#yellow {
    background-color: gold;
    color: black;
}

.btn#violet {
    background-color: darkviolet;
    color: white;
}

.btn#light {
    background-color: silver;
    color: white;
}

.btn#dark {
    background-color: dimgrey;
    color: white;
}
