/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

h2 {
    background-color: azure;
    color: #555555;
}

h3 {
    color: white;
}

a {
    color: lightgreen;
}

a#gastroternary {
    color: teal;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set blue background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: green;
    height: 100%;
    padding-bottom: 20px;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

/* darker background for carousel captions */

.carousel-caption {
    background-color: rgba(0,0,0,0.75);
}

.btn#silver {
    background-color: silver;
    color: white;
}

.btn#orange {
    background-color: orange;
}

.btn#coop {
    background-color: lightgrey;
    color: white;
}

.btn#elective {
    background-color: dimgray;
    color: white;
}
